body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #2E1452;
    text-align: center;
}

h2{
    text-align: left;
    margin: 20px 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    height: 50px;
    width: 100%;
    padding: 10px 0;
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.btn{
    display: block;
    background-color: #2E1452;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: none;
    padding: 10px 0;
    margin: 10px auto;
    width: 100%;
    min-width: 100px;
    border-radius: 10px;
}

.container{
    background-color: white;
    margin: auto;
    position: relative;
    max-width: 400px;
    top: 50px;
    border-radius: 15px;
    padding: 20px;
}

table{
    width: 90%;
    margin: auto;
    background-color: #3D1C6A;
    border-radius: 10px;
    border: 1px solid #1C0E2F;
    border-collapse: separate;
    padding: 8px 5px;
    text-align: left;
}

tr{
    border: 1px solid #1C0E2F;
}

td,th{
    padding: 15px 5px 15px 10px;
}

.approve {
    background-color: #198754;
    text-align: center;
}

.deny{
    background-color: #E60000;
    text-align: center;
}

.no-data{
    margin-top: 20px;
}

.open {
    background-color: #E6CC00;
    text-align: center;
    width: 24px;
    height: 24px;
    padding: 8px;
    margin: 0;
    color: #fff;
    display: inline-block;
    border-radius: 10px;
}


@media only screen and (max-width: 768px){
    .scrollable{
        overflow: scroll;
    }

    table{
       width: max-content; 
    }
}