body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: #2E1452;
    background-color: #2E1452;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    height: 50px;
    width: 100%;
    padding: 10px 0;
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.btn{
    display: inline-block;
    background-color: #E6CC00;
    color: #2E1452;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

nav .btn{
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 20px;
}

.button p{
    display: inline-block;
    color: white;
}

.container{
    background-color: white;
    margin: auto;
    position: relative;
    max-width: 400px;
    top: 50px;
    border-radius: 15px;
    padding: 20px;
}

input{
    display: inline-block;
    padding: 8px 10px;
    margin: 15px 0 0;
    box-sizing: border-box;
    border: 1px solid #2E1452;
    border-radius: 5px;
    width: 100%;
}


.trouble {
    text-align: left;
    margin-top: 20px;
}

.sign {
    font-weight: bold;
}
.sign-with {
    display: flex;
    justify-content: center;
}

.btn-secondary{
    display: inline-block;
    background-color: white;
    color: #E6CC00;
    text-decoration: none;
    border: 1px solid #E6CC00;
    font-weight: bold;
    width: 120px;
    padding: 8px 0;
    margin: 10px 8px 0 0 ;
    border-radius: 10px;
}

input[type=submit]{
    background-color: #2E1452;
    color: white;
}

input[type=checkbox]{
    width: fit-content;
    margin-left: 0;
}
