body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #1C0E2F;
}

nav{
    position: fixed;
    background-color: #2E1452;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.container{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 300px auto;
}

aside{
    background-color: #2E1452;
    height: 100vh;
}

aside ul{
    padding-left: 0;
}
aside li{
    list-style: none;
    margin: 10px 0;
    width: 100%;
}

aside a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    color: white;
    padding: 15px;
}

aside a:hover{
    background-color: #1C0E2F;
}

.summary {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.card{
    background-color: #2E1452;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    width: 30%;
}

.p{
    font-size: 36px;
    margin: 0;
}

.event-list{
    margin: 30px;
    padding: 10px 30px;
    background-color: #2E1452;
    border-radius: 10px;
}

table{
    width: 100%;
    margin: 0 auto 40px;
    background-color: #3D1C6A;
    border-radius: 10px;
    border: 1px solid #1C0E2F;
    border-collapse: separate;
    padding: 8px 5px;
    text-align: left;
}

tr{
    border: 1px solid #1C0E2F;
}

td,th{
    padding: 15px 5px 15px 10px;
}
