body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    background-color: #1C0E2F;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.btn{
    display: inline-block;
    background-color: #E6CC00;
    color: #2E1452;
    text-decoration: none;
    font-weight: bold;
    
}

nav .btn{
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 10px 0;
}

.jumbotron {
    display: flex;
    align-items: flex-end;
    background-color: #2E1452;
    margin-top: -17px;
    height: 300px;
    padding: 0 50px 20px;
}

.jumbotron div{
    width: 60%;
}

aside{
    background-color: #3D1C6A;
    width: 25%;
    position: absolute;
    top: 200px;
    right: 50px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.ticket{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    padding: 10px 15px;
    margin: 14px 0 0;
    border-radius: 8px;
}

.label-tix{
    font-size: 12px;
    color: #C1C1C1;
    margin: 0;
}

.price-tix{
    font-size: 18px;
    margin: 0;
}

.ticket .btn{
    padding: 8px;
    border-radius: 5px;
}

.total-est {
    margin: 30px -8% -8%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.2);;
    padding: 10px 30px 20px;
}

.total-est .btn{
    padding: 10px;
    border-radius: 8px;
}

.content{
    width: 60%;
    padding: 20px 50px;
}

.thumbnail{
    max-width: 100%;
}

/* footer{
    background-color: #2E1452;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 48px;
    font-weight: bold;
} */

/* Payment */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #2E1452;
    padding: 15px 0 40px;
    margin-top: 40px;
}

ul{
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer a{
    text-decoration: none;
    color: white;
}

.btn-socmed{
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #E6CC00;
    color: #2E1452;
    border-radius: 10px;
}

.jualticket{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 50px ;
}

.vectorsell{
    margin-top: 30px;
    width: 40%;
    align-items: center;
}


.tulisanjual{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    width: 50%;


}

.jual{
    border-radius: 15px;
    padding: 10px;

}

.jual2{
    border-radius: 15px;
    padding: 10px;
    margin-left: 10px;
    background-color:#49227e ;
    color: white;
}

.tomboljual{
    flex-direction:row;
    display: flex;
}

.typography1{
    font-family: etixFont;
    text-align: left;
    font-size: 40px;
    font-variant-caps:all-petite-caps;
    
}

.navitem{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    display:flex;
    align-items:center;
}

.navicon{
    display: inline-block;
    width: 30px;
    line-height: 30px;
    margin: 0 4px;
}

@media screen and (max-width: 600px) {
  

    .typography1 {
        width: 100%;
        order: 2;
        font-size: 25px;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
        padding: 10px 30px 10px 30px;
        /*Top Right Bottom Left*/
    }

    .vectorsell {
        order: 1;
        width:50%;
        align-items: center;
        margin: auto;
    }

    .jualticket {
        grid-template-columns: 100%;
        display: grid;
        width: 100%;
        margin: auto;
        padding-top: 90px;
    }

    .tulisanjual {
        order: 2;
        width: 100%;
        margin-left: 0px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
    }

    .tomboljual{
        align-items: center;
        margin: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    
    .jual2{
        margin-top: 10px;
    }

    p {
        text-align: center;
        font-size: 15px;
        padding: 10px 30px 10px 30px;
    }
 }



 @media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }
    nav{
        width: 100%;
    }

    .typography1 h1{
        font-size: 56px;
    }

    .formsearch { 
       width: 90%;
    }
    .formsearch .btn{
        display: none;
    }

    .videoyt {
        margin-top: 30px;
        margin-left: 0;
        width: 87%;
        box-shadow: 20px 30px 30px white;
    }
    .videoyt iframe{
        width: 100%; 
    }
    
    .tulisangambar1{
        flex-direction: column;
        margin-left: -40px; 
    }
    
    .tulisangambar1 img{
        width: 100%;
    }

    .container{
        display: grid;
        grid-template-columns: 100vw 100vw 100vw 100vw;
        grid-gap: 15px;
        font-size: 0.7em;
        justify-content: flex-start;
        overflow: hidden;
        scroll-behavior: smooth;
        transition: all .8s ease-in-out;
    }

    .slider-container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    
    .slide{
        display: block;
        color: white;
    }

    .card{
        width: 60%;
        margin: auto 10px;
        transition: steps .5s ease-in-out;
    }

    .subtulisan1{
        margin: 0;
        padding: 0 20px;
    }
    .container2{
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 0px;
    }

    .card2{
        width: 100%;
        height: 72%;
        margin-bottom: 0;
    }


    .topselling{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
    }

    .subtulisan2{
        margin-left: 20px;
    }
    
    .subsubtulisan2a{
        margin-left: 20px;
    }

    .cardticket {
        margin: auto;
    }
    
    .tulisanjual{
        text-align: center;
    }
    #hamburger:checked ~ .menu-item{
        display: flex;
        right: 0;
    }
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
        
    #hamburger:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    
    #hamburger:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    #hamburger:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
    
    .menu-item{
        display: flex;
        flex-direction: column;
       position: relative;
       background-color: #2E1452;
        padding-left: 20px;
        padding-top: 40px;
        top: 350px;
        right: -270px;
        height: 100vh;
        width: 250px;
        transition: all .8s ease-in-out;
    }


    .navitem span{
        display: inline-block;
        margin: 15px 10px;
    }

    .hamburger-lines{
        display: block;
        z-index: 100;
    }
    
    .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  }
    
    .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }
    
    #hamburger {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        top: 10px;
        right: 20px;
        z-index: 100;
        opacity: 0;
  }
    
    footer div{
        min-width: 40%;
        text-align: center;
        margin-top: 15px;
    }
    
    footer div:nth-child(5){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }

    footer div:nth-child(5) div{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }
    
    footer div:nth-child(5) div a{
        margin: 0 10px;
    }

}
