body {
    background-color: #2E1452;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

nav{
    position: fixed;
    background-color: #2E1452;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}


.container{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 300px auto;
    background-color: #1C0E2F;
    color: white ;
}

.sidebar{
    background-color: #2E1452;
    height: 100vh;
    padding-top: 20px;
}

.gambar1{
    width: 100px;
    height: 100px;
}

.file{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username{
    font-size: 15px;
    margin-top: 15px;
}

.fullname{
    font-size: 20px;
    margin: 0;
}

h2{
    margin-left: 30px;
}

.form{
    padding: 20px;
}

input{
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #1C0E2F;
}

.birth-data{
    display: grid;
     grid-template-columns: 30% 40% 30%;
    }
    
input[placeholder=Day]{
    width: 90%;
}

input[placeholder=Month]{
    width: 90%;
}

input[placeholder=Year]{
    width: 90%;
}

.yellow{
    background-color: #E6CC00;
    font-weight: bold;
}

ul{
  list-style: none;
  padding: 0;
}

a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 20px auto;
}

li{
    margin: 15px;
}

.navicon{
    display: inline-block;
    width: 30px;
    margin: auto 10px;
}

@media only screen and (max-width: 768px){
    .container{
        grid-template-columns: 100%; 
    }
    
    .sidebar {
        width: 90%;
        margin: 20px auto;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
        height: fit-content;
    }
    
    .username{
       text-align: center;
    }
    
    ul{
        background-color: #1C0E2F;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .nav-link{
        font-size: .7em;
    }

    .form{
        background-color: #2E1452;
        width: 90%;
        margin: auto auto 40px;
        border-radius: 10px;
        padding: 30px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 600px){
    .nav-link{
        display: none;
    }
    
    li{
        margin: 0;
        padding: 10px;
    }
    
    a{
        margin: auto;
    }
    .navicon{
        width: 50px;
    }
}