body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #2E1452;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E1452;
    top: 0;
    z-index: 99;
    height: 50px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

nav .logo {
    width: 70px;
    margin: 0 30px;
}

.btn{
    display: inline-block;
    background-color: #E6CC00;
    color: #2E1452;
    text-decoration: none;
    font-weight: bold;

}

nav .btn{
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 10px 0;
}

.typography1{
    font-family: etixFont;
    text-align: center;
    margin-top: 120px ;
    font-size: 44px ;
}


.formsearch{
    margin: auto;
    width: 60%;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-position: 5px 5px;
    background-size: 30px; 
    background-repeat: no-repeat;
    background-image: url('../img/searchicon.png');
    padding: 12px 20px 12px 40px;
    display: block;
    margin:auto;
  }

input[type=submit] {
    border-radius: 8px;
    padding: 10px 15px;
    margin: 0 10px 0;
    border:none;
    display: block;
}

.btn-search{
    position:relative;
    top: -42px;
    right: -86%;
}

.videoyt{
    width: 500px;
    height: 281px;
    margin-left: 50px;
    box-shadow: 50px 30px 30px white;
    justify-self: end;
}

.content1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% 37%;
    justify-content:space-evenly;
    align-items: center;
    align-self: left;
    margin: auto;
    place-items: center;
}

.tulisangambar1{
    display: flex;
    flex-direction: column;
    justify-self: start;
}

.tulisangambar1 h2 {
    margin-bottom: 0%;
}

.tulisangambar1 img{
    width: 344px;
    height: 213;
    border-radius: 10px;
}

.tulisan1{
    text-align: center;
    margin-top: 60px ;
    font-size: 20px ;
}

.imgcard{
    width : 100%;
    border-radius: 15px;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 0 30px;
    margin: auto;
    overflow: hidden;
}

.slider-container{
    width: 20%;
    margin: 50px;
}

.card{
    width: 100%;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    background-color: white;
    border-radius: 15px ;
    padding: 10px 10px 10px;
    text-align: center;
}

.intro{
    color: #2E1452;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.subtulisan1{
    text-align:left;
    margin-top: 40px ;
    font-size: 20px ;
    margin-left: 70px;
}

.container2{
    justify-content: space-around;
}

.card2{
    width: 30%;
    height: 220px;
    margin: 10px;
    display: inline-block;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    background-color: white;
    border-radius: 15px ;
}

.card2:hover{
    position: relative;
    top: -10px;
}

.card2 p{
    position: relative;
    z-index: 4;
    background-color: #E6CC00;
    top: -65px;
    padding: 3px 15px 10px;
    width: 150px;
    border-radius: 0px 10px 0px 0px;
    color: #2E1452;
}

.imgcard2{
    width : 100%;
    border-radius: 15px;
}

.bodytengah{
    background-color: #49227E;
    padding-top: 10px;
    padding-bottom: 60px;
}

.subtulisan2{
    text-align:left;
    margin-top: 60px ;
    font-size: 20px ;
    margin-left: 70px;
}

.subsubtulisan2a{
    text-align:left;
    margin-top: 10px ;
    font-size: 20px ;
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.topselling{
    display:flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px 0;
}
.cardticket{
    background-color: #D9D9D9;
    border-radius : 15px ;
    padding: 10px 10px ;
    max-width: 390px;
    min-width: 340px;
    height: 415px;
    margin: 0 20px;
    box-shadow: 5px 5px 20px black;
}

.cardticket:hover{
    position: relative;
    background-color: #C4C4C4;
    top: -10px;
}

.imgticket{
    width: 100%;
    border-radius: 15px;
}

.shapesdesc{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 15px 7px;
    margin-top: 10px;
}

.descticket{
    color: #2E1452;
    text-align: center;
    border-bottom: 1px solid #2E1452;
    padding: 5px 5px 5px;
}

.descpriceticket{
    color: #2E1452;
    display: flex;
    justify-content: space-between;
}


.vectorsell{
    margin-top: 20px;
    width: 20%;
    align-items: center;
}

@font-face {
    font-family: etixFont ;
    src: url(../font/Etix.ttf) format('opentype');
}

@font-face {
    font-family:"Poppins";
    src: url(/font/Poppins.ttf) format('truettype');
}

.warnafont{
    color: #E6CC00;
}


footer {
    display: flex;
    justify-content: space-around;
    background-color: #2E1452;
    padding: 15px 0 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

footer a{
    text-decoration: none;
    color: white;
}

.btn-socmed{
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #E6CC00;
    color: #2E1452;
    border-radius: 10px;
}

.jualticket{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tulisanjual{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;

}

.jual{
    border-radius: 15px;
    padding: 10px;
    margin-left: 30px;

}

a { 
    text-decoration: none;
}

.icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.subsubtulisan2a p {
    display: inline;
    line-height: 40px;
}

.menu-item{
    display:flex;
}

.navitem{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    display:flex;
    align-items:center;
}

.navicon{
    display: inline-block;
    width: 30px;
    line-height: 30px;
    margin: 0 4px;
}

#hamburger{
    display: none;
}

.hamburger-lines{
    display: none;
}

.slide{
    display: none;
}

@media only screen and (max-width: 768px) {
    .typography1 h1{
        font-size: 56px;
    }
    
    .formsearch{
        margin: auto;
        width: 80%;
    }
    
    .btn-search{
        right: -83%;
    }
    
    .content1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-left: 0;
     }
     
     .videoyt{
        justify-self: center;
        margin-left: -50px;
     }

    .tulisangambar1{
        flex-direction: row;
        width: 70%;
        margin-top: 50px;
    }

    .container{
        display: grid;
        grid-template-columns:  50% 50%;
        padding: 0 30px;
        place-items: center;
    }

    .slider-container{
        width: 80%;
        margin: 0;
    }
    
    .card{
        width: 100%;
        margin: 20px 0;
    }

    .container2{
        display: grid;
        grid-template-columns: 90%;
        
    }

    .card2{
        width: 100%;
        height: 77%;
        margin: 10px 0;
    }

    .topselling{
        justify-content: flex-start;
        overflow-x:scroll;
    }

    .jualticket{
        flex-direction: column;
    }

    .vectorsell{
        width: 50%;
    }

    .navitem span{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
    }
    nav{
        width: 100%;
    }

    .typography1 h1{
        font-size: 56px;
    }

    .formsearch { 
       width: 90%;
    }
    .formsearch .btn{
        display: none;
    }

    .videoyt {
        margin-top: 30px;
        margin-left: 0;
        width: 87%;
        box-shadow: 20px 30px 30px white;
    }
    .videoyt iframe{
        width: 100%; 
    }
    
    .tulisangambar1{
        flex-direction: column;
        margin-left: -40px; 
    }
    
    .tulisangambar1 img{
        width: 100%;
    }

    .container{
        display: grid;
        grid-template-columns: 100vw 100vw 100vw 100vw;
        grid-gap: 15px;
        font-size: 0.7em;
        padding: 0;
        justify-content: flex-start;
        overflow: hidden;
        scroll-behavior: smooth;
        transition: all .8s ease-in-out;
    }

    .slider-container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    
    .slide{
        display: block;
        color: white;
    }

    .card{
        width: 60%;
        margin: auto 10px;
        transition: steps .5s ease-in-out;
    }

    .subtulisan1{
        margin: 0;
        padding: 0 20px;
    }
    .container2{
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 0px;
    }

    .card2{
        width: 100%;
        height: 72%;
        margin-bottom: 0;
    }


    .topselling{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
        overflow-x: hidden;
    }

    .subtulisan2{
        margin-left: 20px;
    }
    
    .subsubtulisan2a{
        margin-left: 20px;
    }

    .cardticket {
        margin: auto;
    }
    
    .tulisanjual{
        text-align: center;
    }
    #hamburger:checked ~ .menu-item{
        display: flex;
        right: 0;
    }
    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
    
    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
    
    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
        
    #hamburger:checked ~ .hamburger-lines .line1 {
        transform: rotate(35deg);
    }
    
    #hamburger:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    #hamburger:checked ~ .hamburger-lines .line3 {
        transform: rotate(-35deg);
    }
    
    .menu-item{
        display: inline;
        flex-direction: column;
        position: relative;
        background-color: #2E1452;
        padding-left: 20px;
        padding-top: 40px;
        top: 380px;
        right: -270px;
        height: 100vh;
        width: 250px;
        transition: all .8s ease-in-out;
    }


    .navitem span{
        display: inline-block;
        margin: 15px 10px;
    }

    .hamburger-lines{
        display: block;
        z-index: 100;
    }
    
    .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 25px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  }
    
    .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }
    
    #hamburger {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        top: 10px;
        right: 20px;
        z-index: 100;
        opacity: 0;
  }
    
    footer div{
        min-width: 40%;
        text-align: center;
        margin-top: 15px;
    }
    
    footer div:nth-child(5){
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }

    footer div:nth-child(5) div{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 15px;
        align-items: center;
    }
    
    footer div:nth-child(5) div a{
        margin: 0 10px;
    }

}
